@import "../../mixin_variables";

.location-list-item {
  padding: 10px;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 4px solid $yellow;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  background-color: darken($color: $white, $amount: 1);
  @include translateY();
  &::after {
    content: "";
    right: 0;
    top: auto;
    left: auto;
    bottom: -5px;
    position: absolute;
    border: 15px solid $yellow;
    border-right-color: transparent;
    border-bottom-color: transparent;
    @include transform(rotate(180deg));
  }
  .flex-container-1 {
    @include flexbox($align: normal);
    .flex-item-1 {
      width: 8%;
      text-align: left;
    }
    .flex-item-2 {
      width: 72%;
      text-align: left;
    }
    .flex-item-3 {
      width: 20%;
      text-align: right;
    }
  }
  .flex-container-2 {
    @include flexbox();
    .flex-item-1 {
      width: 8%;
      text-align: left;
    }
    .flex-item-2 {
      width: 92%;
      text-align: left;
    }
  }
  .location-info-wrap {
    margin: 8px 0px 5px;
  }
  .location-info {
    color: $black2;
    margin: 2px 0px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
    display: inline-block;
    background-color: $yellow;
    text-transform: capitalize;
  }
  .address {
    color: $black2;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .date {
    margin-bottom: 5px;
  }
}
