<div class="location-list-item">
  <div class="flex-container-1">
    <div class="flex-item-1">
      <ion-icon name="location-outline"></ion-icon>
    </div>
    <div class="flex-item-2">
      <p class="address">{{ userLocation.address }}</p>
      <p class="sub-address">
        {{ userLocation.subAddress }}, {{ userLocation.locality }},
        {{ userLocation.city }}
      </p>
    </div>
    <div class="flex-item-3">
      <p class="date">{{ userLocation.time | date: "MMM dd" }}</p>
      <p class="time">{{ userLocation.time | date: "hh:mm a" }}</p>
    </div>
  </div>
  <div class="location-info-wrap">
    <div class="flex-container-2">
      <div class="flex-item-1">
        <ion-icon name="navigate-outline"></ion-icon>
      </div>
      <div class="flex-item-2">
        <div class="location-info">
          <p>latitude : {{ userLocation.latitude }}</p>
        </div>
      </div>
      <div class="flex-item-1">
        <ion-icon name="compass-outline"></ion-icon>
      </div>
      <div class="flex-item-2">
        <div class="location-info">
          <p>longitude : {{ userLocation.longitude }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
