$white: #ffffff;
$black: #000000;
$black2: #222428;
$yellow: #fdd901;

@mixin flexbox($wrap: wrap, $justify: space-between, $align: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;

  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;

  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
}

@mixin transform($value) {
  -webkit-transform: ($value);
  -moz-transform: ($value);
  -ms-transform: ($value);
  transform: ($value);
}

@mixin transition($value) {
  -webkit-transition: ($value);
  -moz-transition: ($value);
  -ms-transition: ($value);
  transition: ($value);
}

@mixin common_button($fw: 500, $padding: 5px 10px) {
  outline: none;
  color: $black2;
  font-size: 12px;
  font-weight: $fw;
  padding: $padding;
  border-radius: 6px;
  background-color: $yellow;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  @include translateY();
}

@mixin translateY {
  @include transition(transform 0.5s);
  &:hover {
    @include transform(translateY(-3px));
  }
}