@import "./mixin_variables";

.loading-wrapper.sc-ion-loading-md {
  font-size: 12px;
  padding: 24px 15px;
  .loading-spinner .spinner-crescent {
    color: $yellow;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
