<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      MyGeolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <button class="btn-location" (click)="onFetchUserLocation()">
    <ion-icon name="location-outline"></ion-icon>
    Get Location
  </button>

  <div class="current-location-wrapper" *ngIf="userLocations.length >= 1">
    <div class="heading-wrap flex-container-1">
      <div>
        <h6 class="heading">Current Location</h6>
      </div>
      <div>
        <button class="btn-clear-all" (click)="onClearAllLocation()">
          Delete All
        </button>
      </div>
    </div>
    <location-list-item *ngFor="let location of userLocations | slice:0:1 let i=index" [userLocation]="location"></location-list-item>
  </div>
  <div class="old-location-wrapper" *ngIf="userLocations.length >= 2">
    <div class="heading-wrap">
      <h6 class="heading">Old Location</h6>
    </div>
    <location-list-item *ngFor="let location of userLocations" [userLocation]="location" class="group-item"></location-list-item>
  </div>
</ion-content>
