@import "../../mixin_variables";

.btn-location {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  @include common_button($fw: bold, $padding: 10px);
  @include flexbox($justify: center, $wrap: nowrap);
  ion-icon {
    font-size: 15px;
    margin-right: 3px;
  }
}

.btn-clear-all {
  padding: 5px 10px;
  @include common_button();
}

.current-location-wrapper {
  .flex-container-1 {
    @include flexbox($wrap: nowrap);
  }
}

.old-location-wrapper {
  .group-item:first-of-type {
    display: none;
  }
}
